.titleHolder {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.textHolder {
    margin-top: 2em;
}

#ambassadorsContainer {
    margin-top: 2em;
}

.ambassadorInterestText {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}