.competitionTitle {
    text-align: center;
    margin-bottom: 25px;
}

.tabContent {
    margin-top: 1em;
}

#tab-tab-one, #tab-tab-two, #tab-tab-three, #tab-tab-four {
    color: black;
    padding-left: 3em;
    padding-right: 3em;
    border: black solid 1px;
}

.nav-item.nav-link.active {
    background-color: #d9c216 !important;
}

#competitionTabHolder {
    background-color: white;
}