.home-contact-container {
    background: #fdf9e5;
    /* Replace with your desired background color */
    padding: 2rem;
    text-align: center;
}

.home-contact-row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.home-contact-title {
    font-size: 5rem;
    /* Adjust font size as needed */
    color: #333;
    /* Adjust title color as needed */
    margin-bottom: 3rem;
}

.home-contact-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    width: 70%;
}

.home-contact-col {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    /* Center buttons horizontally */
}

.home-contact-button {
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.4s;
    max-width: 7.5vw;
    max-height: 7.5vw;
    justify-items: center;
}

.home-contact-button:hover {
    transform: scale(1.1);
    /* Increase button size on hover */
}


@media (max-width: 768px) {
    .home-contact-col {
        margin-bottom: 1rem;
    }

    .home-contact-button {
        max-width: 20vw;
        max-height: 20vw;
    }
}