.aboutpagebanner {
  background-color: #fffb05f3;
  text-align: center;
  padding-top: 7em;
  padding-bottom: 7em;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.aboutMission {
  text-align: center;
  font-weight: bold;
}

.about-rounded-box {
  border-radius: 15px; /* Adjust this value to control the roundness */
  background-color: #ffffff; /* Choose a background color that fits your design */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow */
  margin-bottom: 30px; /* Adds space between the sections */
}

.about-image {
  /* width: 122%; */
  /* height: 100%; */
  /* overflow: hidden; */
  /* position: relative; */
  padding-top: 0.8rem;
}