.aboutpagebanner {
  background-color: #fffb05f3;
  text-align: center;
  padding-top: 7em;
  padding-bottom: 7em;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.aboutMission {
  text-align: center;
  font-weight: bold;
}

.about-rounded-box {
  border-radius: 15px; /* Adjust this value to control the roundness */
  background-color: #333; /* Choose a background color that fits your design */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow */
  margin-bottom: 30px; /* Adds space between the sections */
  color: #f5c809;
}

.about-rounded-box p {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 410;
}

.about-rounded-box h3 {
  padding-left: 1.1rem;
  font-weight: 650;
}

.about-image {
  padding-top: 1rem;
}

.about-page {
  background-color: #fef5d1;
  padding-bottom: 10rem;
}