#backgroundPicture {
  background: url("../../public/background.jpg") no-repeat center center fixed;
  height: 650px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bannerInfoHolder {
  padding-top: 5em;
  text-align: center;
}

.bannerSubInfoHolder {
  padding-top: 3em;
  text-align: center;
}

.bannerText {
  color: white;
  font-size: 3.7em;
}

.bannerSubHeader {
  color: white;
  font-size: 2.7em;
  margin-bottom: 1em;
}

@font-face {
  font-family: 'Antonio-Light';
  src: local('Antonio-Light'), url(../../fonts/Antonio-Light.ttf) format('truetype');
}

#bannerButton {
  font-size: 1.5em;
  width: 97%;
  padding: .4em 0em;
  margin: .2em .2em;
  font-family: 'Antonio-Light';
  background-color: #bd8c2a;
  border: white 3px solid;
}

.socialMediaIcon {
  margin-right: 0.5em;
}

.iconContainer {
  margin-top: 5em;
}

.smallIconContainer {
  margin-top: 1.5em;
}

.leftIconBlock {
  display: inline-block;
  text-align: left;
}

.rightIconBlock {
  display: inline-block;
  text-align: right;
}

.appImage {
  border-radius: 10px;
  height: 45px;
  width: 135px;
  border: 1px white solid;
  margin-right: 0.5em;
}

.centerAlignIcons {
  text-align: center;
  margin-top: 1.5em;
}

.buttonRow {
  margin-top: 3.5em;
}

.buttonDiv {
  background-clip:content-box;
  font-size: 2em;
  border:.7em #f5c809 double;
  background-color:#f5c809;
  font-family: Antonio-Light;
  transition:.5s;
  height: 100%;
  width: 100%;
  display: table;
}

.buttonLink {
  color: black;
}

.buttonDiv:hover {
  transition:.5s;
  border-color: #ca6946;
  background-color: #ca6946;
}

.buttonLink:hover {
  color: black;
  text-decoration: white;
}

.buttonDiv .buttonText {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}