.backgroundPicture {
  background: url("../../public/background.jpg") no-repeat center center fixed;
  height: 700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bannerInfoHolder {
  padding-top: 5em;
  text-align: center;
}

.bannerText {
  color: white;
  font-size: 3.7em;
}
