.centerBottomPadding {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.applyButton {
  padding: 1em !important;
  font-size: 1.2em !important;
  color: black !important;
  background-color: #d9c216 !important;
  border: #d9c216 1px solid !important;
}

.secondSectionSubtitle {
  padding-bottom: 0.5em;
}
