.centerAlign {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.numberText {
  font-size: 4em;
}

.numbersTitle {
  padding-bottom: 0.7em;
  font-size: 3em;
}

.numbersBackground {
  background-color: #f5c809 !important;
}