@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Open+Sans|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');



.centerAlign {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.numberText {
  font-size: 4em;

}

.numbersTitle {
  font-size: 5em;
  font-family: 'Bebas Neue', cursive;
  padding-bottom: 2em;
}

.numbersSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-top: 1px;
}
.numbersBackground {
  background-color: #f5c809 !important;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

