@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navbar {
  background-color: black;
  font-family: 'Montserrat', sans-serif;

}

.navbarBlack {
  background-color: black;
}

.navbarYellow {
  background-color: #d9c216;
}

.nav-link {
  color: white;
  border: 1px solid black;
}

.nav-link:hover {
  color: white;
  border: 1px solid white;
}

.dropdown .dropdown-menu {
  background-color: black;
}

.dropdown .dropdown-menu .dropdown-item {
  color: white;
  border: 1px solid black;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: black;
  border: 1px solid white;
}

.dropdown .dropdown-menu .dropdown-toggle {
  padding-left: 24px;
}

.navbar-brand {
  color: white;
}

.navbar-toggler {
  background-color: white !important; 
}