@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navbar {
  background-color: black;
  font-family: 'Montserrat', sans-serif;

}

.navbarBlack {
  background-color: black;
}

.navbarYellow {
  background-color: #d9c216;
}

.nav-link {
  color: white;
  border: 1px solid black;
  transition: ease-in-out 0.2s, color .4s ease;
  
}

.nav-link:hover {
  color: #f5c807;
  transform: scale(1.1);
}

.dropdown .dropdown-menu {
  background-color: black;
}

.dropdown .dropdown-menu .dropdown-item {
  color: white;
  border: 1px solid black;
  transition: ease-in-out 0.2s, color .4s ease;
  border: none;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  border: none;
  color: #f5c807;
  transform: scale(1.03);
}

.dropdown .dropdown-menu .dropdown-toggle {
  padding-left: 24px;
}

.navbar-brand {
  color: white;
}

.navbar-toggler {
  background-color: white !important; 
}