@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.pageTitle {
    text-align: center;
    /* text-transform: none; */
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    background-color: #f5c809;

}

.titleText {
    font-family: 'Roboto';
    font-size: 4em;
}