@import url("https://fonts.googleapis.com/css?family=Lato:300|Open+Sans|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* #backgroundPicture {
  background: url("../../public/background.jpg") no-repeat center center fixed;
  height: 650px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* .bannerInfoHolder {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
} */

/* .bannerSubInfoHolder {
  padding-top: 1em;
  text-align: center;
} */

/* .bannerText {
  color: white;
  font-size: 6.5em;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0em;
} */

/* .bannerTextSmaller {
  color: white;
  font-size: 3em;
  font-family: "Bebas Neue", cursive;
} */

/* .bannerSubText {
  color: red;
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0em;
  transition: 0.2s;
  text-decoration: underline;
} */

/* .bannerSubText:hover {
  text-decoration: underline;
  color: darkred;
} */

/* .bannerTextSmall {
  color: white;
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
} */

/* .bannerSubTextSmall {
  color: red;
  font-size: 4em;
  font-family: "Bebas Neue", cursive;
  transition: 0.2s;
  text-decoration: underline;
} */

/* .bannerSubTextSmall:hover {
  text-decoration: underline;
  color: darkred;
} */

/* .noDecorationHover {
  text-decoration: none !important;
} */

/* .bannerSubHeader {
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
} */

/* #bannerButton {
  font-size: 1.5em;
  width: 97%;
  padding: 0.4em 0em;
  margin: 0.2em 0.2em;
  font-family: "Montserrat", sans-serif;
  background-color: #bd8c2a;
  border: white 3px solid;
} */

/* .socialMediaIcon {
  margin-right: 0.5em;
}

.iconContainer {
  margin-top: 5em;
}

.smallIconContainer {
  margin-top: 1.5em;
}

.leftIconBlock {
  display: inline-block;
  text-align: left;
} */
/* 
.rightIconBlock {
  display: inline-block;
  text-align: right;
} */

/* .appImage {
  border-radius: 10px;
  height: 45px;
  width: 135px;
  border: 1px white solid;
  margin-right: 0.5em;
} */

/* .centerAlignIcons {
  text-align: center;
  margin-top: 1.5em;
} */

/* .container-fluid {
  display: grid;
  grid-template-columns: repeat(6, autofill);
  grid-template-rows: repeat(2, autofill);
} */
/* 
.buttonRow {
  margin-top: 2.5em;
} */

.titleDiv {
  text-transform: lowercase;
}

.buttonDivTree {
  justify-content: center;
  align-items: center;
  /*position: relative;*/
  font-size: 1.6em;
  border: 0.7em #f5c809 double;
  background-color: #f5c809;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
  height: 100%;
  width: 100%;
  display: table;
  z-index: 2;
  box-shadow: 3px 4px #ca6946;
}

.borderBox {
  display: flex;
  border: 3px solid #f5c809;
  position: absolute;
  right: 2em;
  width: 78%;
  height: 120%;
  top: 0.1em;
  bottom: 0.1em;
  z-index: 1;
  box-shadow: 3px 4px #ca6946;
}

.buttonLink {
  color: black;
}

.buttonDiv:hover {
  transition: 0.5s;
  border-color: #ca6946;
  background-color: #ca6946;
  box-shadow: 3px 5px #f5c809;
}

.buttonLink:hover {
  color: white;
  text-decoration: white;
}

.buttonDiv .buttonText {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}


.buttonTextTree {
  font-size: 23px;
  font-weight: 900;
}