body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mist-link {
  color: #f5c809;
  font-weight: bold;
}

.mist-link:hover {
  color: #ca6946;
  transition: .75s;
  text-decoration: none;
}

.mist-link-w-background {
  color: #000000;
  font-weight: bold;
}

.mist-link-w-background:hover {
  color: #ca6946;
  transition: .75s;
  text-decoration: none;
}

.mist-button {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  color: #ca6946;
  background-color: #f5c809;
  border: none;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 4rem;
  transition: all 0.4s;
}

.mist-button:hover {
  background-color: #ca6946;
  color: #f5c809;
  transform: scale(1.05);
  text-decoration: none;

}